img {
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 20px 2px #566573;
  margin-top: 50px;
}

.card-feedBack-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  background-color: #282c34;
  border-radius: 15px;
  justify-content: center;
  margin: auto;
  border: solid 5px #21242A;
  box-shadow: 0px 0px 50px 1px #17202A inset;
}

.feedBack-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.negative-title {
  color: red;
}

.positive-title {
  color: rgb(4, 172, 24);
}